<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-lg-6 col-md-8" style="background-color: lightblue;padding: 25px 25px 25px 25px;border-radius: 15px;">
      
      <h1>Novo Arduino</h1>
      
      <%= render 'form', arduino: @arduino %>
      
      <%= link_to 'Back', arduinos_path %>
      
    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>

