<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-lg-6 col-md-8" style="background-color: lightblue;padding: 25px 25px 25px 25px;border-radius: 15px;">
<h1>Editing Equipamento</h1>

<%= render 'form', equipamento: @equipamento %>

<%= link_to 'Show', @equipamento %> |
<%= link_to 'Back', equipamentos_path %>

    </div>
    <div class="col col-lg-2">
    </div>
  </div>
</div>
